{% extends 'logged.base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
<h1>All Books</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.name }}</td>
        <td>{{ book.author }}</td>
        <td>
            <a href="{{ path('student_book_show', {'id': book.id}) }}">show</a>
            <a href="{{ path('student_book_res', {'idb': book.id}) }}">book</a>
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
