{% extends 'logged.base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ book.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ book.name }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ book.author }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('student_book_index') }}">back to list</a>

{% endblock %}
