{% extends 'base.html.twig' %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">TEK-UP Library</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Reservations</a>
                    </li>
                </ul>
                <span class="navbar-text">
        <a href="{{ path('app_logout') }}">Logout</a>
      </span>
            </div>
        </div>
    </nav>
{% endblock %}
{% block body %}
{% endblock %}